dash==2.11.1
dash-bootstrap-components
dash-html-components
dash-table==5.0.0
Flask>=2.0,<3.0
google-cloud-bigquery==3.27.0
google-cloud-bigquery-storage==2.27.0
google-api-core==2.24.0
google-auth==2.37.0
pandas==2.0.3
plotly==5.10.0
numpy==1.25.0
gunicorn==20.1.0
db_dtypes
colorlover==0.3.0